﻿@using OnlineShopUI.ViewModels

@inject NavigationManager Navigation
@using OnlineShopUI.ViewModels
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 sticky-top">
    <a class="navbar-brand" href="/">Bob Kart</a>

    <form class="d-flex ms-3 me-auto" @onsubmit="HandleSearch" style="width: 40%;">
        <input class="form-control me-2" @bind="SearchTerm" type="search" placeholder="Search..." />
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>

    <ul class="navbar-nav d-flex flex-row gap-3">
        <li class="nav-item">
            <NavLink class="nav-link" href="/wishlist">Wish List</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/basket">Basket</NavLink>
        </li>

        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized Context="auth">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            @auth.User.Identity?.Name ?? "Account"
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><NavLink class="dropdown-item" href="/account">My Account</NavLink></li>
                            <li><NavLink class="dropdown-item" href="/admin">Admin</NavLink></li>
                            <li><NavLink class="dropdown-item" href="/account/logout">Logout</NavLink></li>
                        </ul>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/account/login">Login</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/account/register">Register</NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </ul>

</nav>

@code {

    private List<NavLinkItemViewModel> HeaderLinks = new()
    {
        new() { Text = "My Account", Url = "/account" },
        new() { Text = "Wish List", Url = "/wishlist" },
        new() { Text = "Basket", Url = "/basket" }
    };

    private string SearchTerm = string.Empty;

    private Task HandleSearch()
    {
        if (!string.IsNullOrWhiteSpace(SearchTerm))
        {
            var encoded = Uri.EscapeDataString(SearchTerm);
            Navigation.NavigateTo($"/search-results/{encoded}");
        }

        return Task.CompletedTask;
    }
}