<div class="d-flex">
    <a href="/account" class="btn btn-link me-3" title="My Account">
        <i class="fas fa-user"></i>
    </a>
    <a href="/wishlist" class="btn btn-link me-3" title="Wishlist">
        <i class="fas fa-heart"></i>
    </a>
    <a href="/basket" class="btn btn-link" title="Basket">
        <i class="fas fa-shopping-basket"></i>
    </a>
</div>